# Interné a privátne priečinky
docs/
.agents/
vault/
GEMINI.md
gemini.md

# Dependencies & Build
node_modules/
.next/
out/

# Poistka pre lokálne env súbory
.env*

# Systémové súbory a logy
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/
